.page-template-banded-template {
    .refer-page {
        background: url('../images/gvd-green.jpg') 50% 50% no-repeat;
        background-size: cover;
    }
    .referer-intro {
        @media (min-width: 1100px) {
            padding-top: 3em;
        }
        h1 {            
            font-weight: 200;
            line-height: 1em;
            small {
                display: block;
            }
            @media (min-width: 600px) {
                font-size: 5rem !important;
            }
        }
        p {
            font-size: 0.9em !important;
            line-height: 1.25em;
            text-transform: uppercase;
        }
    }
    .main-content-wrap {
        padding-top: 0;
    }

    .full-wrap {
        padding-bottom: 2em;
        padding-top: 2em;
    }

    ul.three-col {
        li {
            @media (min-width: 600px) {
                float: left;
                width: 50%;
            }
            @media (min-width: 800px) {
                width: calc(~"100% / 3");
            }
        }
    }
}

.green-bg {
    background-color: @green;
    color: @white;
    h2,
    h3,
    h4,
    h5 {
        color: @white;
    }
    .btn {
        background-color: @white;
        color: @gray;
    }
}
.grid-bg {
    background: #ebebeb url("../images/body-bg.jpg") top left repeat;
}