// =================================================
//	Imports
// =================================================

@import 'normalize.less';
@import 'lesshat.less';
@import 'grid.less';
@import 'bxslider.less';
@import 'fonts/font-awesome.less';

// =================================================
//	Mixins
// =================================================

/*Clear Fix*/

.clear-fix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*Inline Block Fix*/

.inline-block-fix() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

/*REM Font Size*/

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~'@{pxValue}px';
  font-size: ~'@{remValue}rem';
}

/*Cross Browser Inline Block*/

.inline-block-fix() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.bg-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.anim(@time:0.3s) {
  -webkit-transition: all @time ease-out;
  -moz-transition: all @time ease-out;
  -ms-transition: all @time ease-out;
  -o-transition: all @time ease-out;
  transition: all @time ease-out;
}

.hidden {
  display: none;
}
// =================================================
//	Media Queries
// =================================================

/*@media (max-width: 1400px) {

 }

 @media (max-width: 1028px) {

 }

 @media (max-width: 768px) {

 }

 @media (max-width: 480px) {

 }

 @media (max-width: 360px) {

 	}*/

// =================================================
//	Variables
// =================================================

@white: #fff;
@black: #000;
@l-gray: #ebebeb;
@m-gray: #828282;
@gray: #707070;
@d-gray: #363636;
@green: #a6bb52;
@d-green: #7c8d38;
@brown: #342526;
@d-brown: #221819;
@body: 'Open Sans', sans-serif;
@heading: 'Montserrat', sans-serif;

// =================================================
//	Global
// =================================================

*,
*:before,
*:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  background: #ebebeb url('../images/body-bg.jpg') top left repeat;
  font-family: @body;
  color: @gray;
}

video {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: @green;
  &:hover {
    color: @d-green;
  }
  &.number {
    color: @gray;
    text-decoration: none;
  }
}

p {
  padding: 0;
  line-height: 1.8em;
  margin-bottom: 2em;
}

p,
ul {
  font-weight: 200;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  margin-bottom: 4%;
  padding: 0;
  &.two-columns{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  li {
    line-height: 1.8em;
  }
}

strong {
  font-weight: bold;
}

figcaption {
  font-style: italic;
  padding-bottom: 2%;
  width: 50%;
  margin: 0 auto;
  .font-size(12);
}

h1,
h2,
h3,
h4,
h5,
h6,
.parent {
  font-family: @heading;
  text-transform: uppercase;
  line-height: 1.5em;
  color: #444;
  margin-bottom: 2%;
  margin-top: 0;
  em {
    text-transform: none;
    font-weight: 400;
    color: @gray;
  }
  .page-template-banded-template-php & {
    em {
      text-transform: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
}
h1 {
  .font-size(3.6);
  @media (max-width: 768px) {
    .font-size(3);
  }
}

h2 {
  .font-size(3.2);
  @media (max-width: 768px) {
    .font-size(2.8);
  }
}

h3 {
  .font-size(2.8);
  @media (max-width: 768px) {
    .font-size(2.4);
  }
}

h4 {
  .font-size(2.4);
  @media (max-width: 768px) {
    .font-size(2);
  }
}

h5 {
  .font-size(2);
  @media (max-width: 768px) {
    .font-size(1.8);
  }
}

h6 {
  .font-size(1.8);
  @media (max-width: 768px) {
    .font-size(1.6);
  }
}

img {
  min-width: 1%;
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
  &.frame1 {
    border: solid 5px #fff;
    .box-shadow(0 0 4px 2px rgba(10,10,10,0.1));
  }
}
.feature-image {
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
  margin: 1em auto;
  padding: 10px;
  background: #f9f9f9;
  position: relative;
  top: -2.5em;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 500px) {
    float: right;
    top: 0;
    margin: 0 0 0 2em;
    width: 50%;
    max-width: 400px;
  }
}

input,
textarea {
  border: none;
}

hr {
  border: 0;
  border-top: 2px dashed #eee;
  margin: 1em 15%;
}
// =================================================
//  General States
// =================================================

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.fixed {
  position: fixed;
  top: 0;
}

.scroll-nav {
  background-color: @l-gray;
  z-index: 999999;
}

.relative {
  position: relative;
}
// =================================================
//  Button States
// =================================================

.green-btn,
.brown-btn,
.gray-btn {
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.1);
}

.green-btn {
  background-color: @green;
  color: @white;

  border: solid 1px transparent;
  &:hover {
    color: @white;
    border: 1px solid @d-green;
    background-color: @d-green;
    .box-shadow(~'3px 3px 0px #5b7739');
  }
}

.brown-btn {
  background-color: @brown;
  color: @white;
  border: solid 1px transparent;
  &:hover {
    color: @white;
    border: 1px solid @d-brown;
    background-color: @d-brown;
    .box-shadow(~'3px 3px 0px #5b7739');
  }
}

.gray-btn {
  background-color: @gray;
  &:hover {
    color: @white;
    background-color: @d-gray;
  }
}

.ghost-btn {
  color: @white;
  border: solid 1px @white;
  &:hover {
    background-color: @white;
    color: #000;
  }
}
.sm-btn {
  padding: 1% 2%;
}

.m-btn {
  padding: 1.5% 3%;
}

.l-btn {
  padding: 2% 4%;
}

.xl-btn {
  padding: 3% 6%;
}

.acc-btn {
  width: 100%;
  display: block;
  background-color: @l-gray;
  color: @gray;
  .border-radius(3px);
  position: relative;
  cursor: pointer;
  margin-bottom: 4%;
  &:last-child {
    margin: 0;
  }
  i {
    color: @gray;
    text-align: right;
    position: absolute;
    right: 3%;
    top: 30%;
  }
  &:hover {
    background-color: @gray;
    color: @white;
    box-shadow: none;
    border: none;
    i {
      color: @white;
    }
  }
}

.button-row {
  .btn {
    margin:.3em 0;
  }
}

// =================================================
//  Slide States
// =================================================

.slide-1 {
  background: url('../images/slide-1.jpg') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slide-1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slide-1.jpg', sizingMethod='scale')";
  .bg-cover();
}

// =================================================
//  Modules
// =================================================

.wrap,
.content,
.widget {
  width: 100%;
  .clear-fix();
}

.widget {
  margin-bottom: 8%;
  &:last-child {
    margin-bottom: 0;
  }
  &.box {
    padding: 10px;
    background: lighten(@l-gray, 3%);
    .border-radius(3px);
  }
}

.btn {
  text-transform: uppercase;
  vertical-align: middle !important;
  cursor: pointer;
  text-align: center;
  .inline-block-fix();
  .border-radius(3px);
  .transition(all 0.5 ease);
  font-weight: 600;
  font-family: @heading;
}

span.sub-btn {
  width: 8%;
  padding: 2%;
  cursor: pointer;
  text-align: center;
  float: left;
  img {
    width: 40%;
  }
}

.active-sub-btn,
.acc-active {
  i {
    .transform(rotate(90deg));
  }
}

.row,
.testimonail {
  margin-bottom: 4%;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    margin-bottom: 6%;
  }
}

.col-12 {
  width: 96%;
  margin-right: 2%;
}

.col-6 {
  width: 48%;
  margin-right: 4%;
  float: left;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 968px) {
    width: 100%;
    float: none;
    margin-bottom: 4%;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col-4 {
  width: 30.6666667%;
  margin-right: 4%;
  float: left;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 968px) {
    width: 100%;
    float: none;
    margin-bottom: 4%;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cta {
  border: 10px solid #e5e5e5;
  padding: 5% 40% 5% 5%;
  position: relative;
  background: #ebebeb;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @gray;
  }
  p {
    margin-bottom: 6%;
  }
  @media (max-width: 968px) {
    background: #ebebeb none !important;
    padding: 5%;
    .btn {
      display: block;
    }
  }
  @media screen and (min-width: 969px) {
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .background-image(~'linear-gradient(left, #ebebeb 58%, rgba(235,235,235,.6) 78%, rgba(229,229,229,0) 100%)');
      z-index: 2;
      .page-template-full-width-template & {
        .background-image(~'linear-gradient(left, #ebebeb 68%, rgba(235,235,235,.6) 78%, rgba(229,229,229,0) 100%)');
      }
    }
    .bg-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    .content {
      position: relative;
      z-index: 4;
    }
  }
}

.video-wrapper,
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 4%;
  @media (max-width: 968px) {
    margin-top: 7%;
  }
}
.iframe-wrapper {
  margin-bottom: 2em;
}
.video-wrapper iframe,
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1%;
  background-color: @white;
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
}

// =================================================
//	Layout
// =================================================

.page-wrap {
  position: relative;
  width: 100%;
  left: 0;
  .transition(0 linear, all 0.5s ease-in-out);
  transition: all 0.5s ease;
}

.container {
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
  .clear-fix();
  @media (max-width: 768px) {
  }
}

/*=================================================
  HEADER
  ==================================================*/

.main-header {
  width: 100%;
  .clear-fix();
}

.covid-banner {
  text-align: center;
  background: @d-green;
  color: @white;
  padding: .25em 0;
  a {
    color: @white;
    text-decoration: underline;
  }
}

.secondary-nav-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social,
.secondary-nav {
  float: left;
}

.social {
  width: 57%;
  text-align: left;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  a {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    line-height: 20px;
    .border-radius(100%);
    background: lighten(@gray, 20%);
    color: #fff;
    position: relative;
    .anim();
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      .transform(translate(-50%, -50%));
      font-size: 0.8em;
    }
    &:last-child {
      margin: 0;
    }
    &:hover {
      background: lighten(@gray, 5%);
    }
  }
  img {
    width: 100%;
    max-width: 30px;
  }
  @media screen and (min-width: 728px) {
    a {
      height: 25px;
      width: 25px;
      line-height: 25px;
      margin-right: 15px;
      &::before {
        font-size: 1em;
        line-height: 0.7em;
      }
    }
  }
  @media screen and (min-width: 1100px) {
    width: 30%;
  }
}

.secondary-nav {
  display: none;
  width: 70%;
  text-align: right;
  font-family: @heading;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    text-transform: uppercase;
    margin-left: 2%;
    .inline-block-fix();
    line-height: 20px;
    @media screen and (min-width: 728px) {
      line-height: 30px;
    }
  }
  a {
    color: @d-green;
    .font-size(1.1);
    font-weight: 500;
    letter-spacing: 0.05em;
    padding: 10px 5px;
    text-shadow: 0px 2px 1px #fff;
    &:hover {
      color: darken(@d-green, 10%);
    }
  }
  @media screen and (min-width: 1100px) {
    display: block;
  }
}

.main-nav-wrap {
  background-color: @white;
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
  z-index: 999;
}

.main-nav-container {
  padding: 17px 0 0 0;
  @media (max-width: 1100px) {
    padding: 2% 0;
    position: relative;
  }
}

.logo {
  width: 50%;
  float: left;
  max-width: 300px;
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
}

.content-info-wrap {
  width: 70%;
  float: right;
  .clear-fix();
}

.contact-info {
  width: 100%;
  text-align: right;
  .btn {
    .font-size(1.1);
  }
  @media (max-width: 1099px) {
    display: none;
  }
}

.number,
.mobile-number {
  font-family: @heading;
  font-weight: 400;
  margin-right: 2%;
  .font-size(2.4);
  .inline-block-fix();
  vertical-align: middle !important;
}

.mobile-number {
  display: inline;
  text-align: right;
  width: 43%;
  float: left;
  margin: 0;
  .font-size(1.9);
  font-weight: 400;
}

// =================================================
//  Mobile Nav
// =================================================
.mobile-nav.main-nav {
  opacity: 0;
  width: 75%;
  height: 100%;
  position: fixed;
  background: @d-gray;
  right: -75%;
  top: 0;
  font-weight: 100;
  .transition(0 linear, all 0.5s ease-in-out);
  transition: all 0.5s ease;
  overflow: scroll;
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid @gray;
    .clear-fix();
    position: relative;
    ul {
      /*Second Level*/
      padding-left: 0;
      width: 100%;
      display: none;
      li {
        .clear-fix();
        clear: both;
        border-bottom: 0;
        border-top: 1px solid @d-gray;
        background: lighten(@d-gray, 10%);
        ul {
          li {
            background: lighten(@d-gray, 20%);
          }
        }
      }
      a {
        padding-left: 30px;
        display: block;
      }
    }
  }
  a {
    color: @white;
    display: block;
    width: 100%;
    float: left;
    padding: 5px 10px;
    .font-size(1.2);
    &.btn {
      padding: 15px 10px;
      margin: 10px;
      width: auto;
      float: none;
    }
  }

  span.sub-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  li.menu-item-has-children {
    & > span.sub-btn {
      display: block;
    }
  }
  span.sub-btn {
    display: none;
    padding: 3px 10px 3px 0;
    color: @white;
  }
}

.menu-displayed {
  overflow: hidden;
  .mobile-nav.main-nav {
    right: 0;
    opacity: 1;
  }
  .page-wrap {
    left: -75%;
  }
}
/*second level*/

.mobile-nav.main-nav ul li ul li {
  .font-size(1.3);
}

/*third level*/

.mobile-nav.main-nav ul li ul li ul li {
  .font-size(1.1);
  padding-left: 20px;
}

span.menu-btn {
  display: none;
  cursor: pointer;
  @media (max-width: 1100px) {
    display: block;
    position: absolute;
    display: block;
    position: absolute;
    z-index: 11;
    right: 0;
    height: 30px;
    cursor: pointer;
    right: 0;
    top: calc(~'50% - 10px');
    &:focus {
      outline: none;
    }
    span {
      width: 40px;
      height: 4px;
      background: #333;
      position: relative;
      display: block;
      transition: all 300ms ease-in-out;
      margin: auto 0 auto auto;
      &:before,
      &:after {
        transition: all 300ms ease-in-out;
        content: '';
        height: 100%;
        left: 0;
        right: 0;
        position: absolute;
        bottom: -200%;
        background-color: #333;
      }
      &:after {
        top: auto;
        bottom: -400%;
      }
    }
    &.open > span {
      background-color: transparent;
      &::before,
      &::after {
        bottom: -200%;
      }
      &::before {
        .transform(translateY(-3px));
        .transform(rotate(-45deg));
      }
      &::after {
        .transform(translateY(3px));
        .transform(rotate(45deg));
      }
    }
  }
}

/*second leve*/

.mobile-nav.main-nav .sub-menu li.menu-item-has-children {
  span.sub-btn {
    display: block;
  }
}

/*third level*/

.mobile-nav.main-nav .sub-menu li.menu-item .sub-menu span.sub-btn {
  display: none;
}

.main-nav {
  font-family: @heading;
  text-transform: uppercase;
  font-weight: bold;
  .font-size(1.2);
  opacity: 0;
  @media (max-width: 1099px) {
    display: none;
    &.mobile-nav {
      display: block;
    }
  }
}
@media screen and (min-width: 1100px) {
  .main-nav {
    opacity: 1;
    ul {
      margin: 0 -10px 0 0;
      padding: 0;
      text-align: right;
    }
    span.sub-btn {
      display: none;
    }
    li {
      .inline-block-fix();
      position: relative;
    }

    a {
      display: block;
      padding: 14px 8px 17px 8px;
      color: @gray;
      &:hover {
        color: @green;
      }
    }
    & > ul > li.current_page_ancestor,
    & > ul > li.current_page_parent,
    & > ul > li.current_page_item {
      & > a {
        color: @green;
      }
    }

    @media (max-width: 1200px) {
      .font-size(1.1);
    }
  }

  a.last-link {
    padding-right: 0;
  }
  /*drop down*/

  /*Second level*/

  .main-nav ul li ul {
    min-width: 250px;
    max-width: 250px;
    position: absolute;
    display: none;
    z-index: 9999;
    margin: 0;
    border-top: 5px solid @green;
    .box-shadow(~'3px 3px 6px rgba(10,10,10,0.2);');

    &:after {
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid @green;
      position: absolute;
      top: -10px;
      left: 50px;
    }
  }

  .main-nav ul li ul li a {
    padding: 5%;
  }

  .main-nav ul li ul li a:hover {
    background-color: @l-gray;
    color: @gray;
  }

  .main-nav ul li ul a:hover {
    &:after {
      display: none;
    }
  }

  .main-nav ul li:hover ul {
    display: block;
  }

  .main-nav ul li ul li {
    display: block;
    background-color: @white;
    text-align: left;
  }

  .main-nav ul li ul li:hover {
    background-color: @white;
  }

  /*third level*/

  .main-nav ul li:hover ul ul {
    min-width: 250px;
    max-width: 250px;
    position: absolute;
    border-top: 0;
    top: 0;
    left: 250px;
    display: none;
    z-index: 9999;
    &:after {
      display: none;
    }
  }

  .main-nav ul li ul ul li {
    background-color: @l-gray;
  }

  .main-nav ul li ul li:hover ul {
    display: block;
  }

  .main-nav ul li ul ul li a:hover {
    background-color: #bbb8ab;
  }
}

// =================================================
//  HOME PAGE
// =================================================

// =================================================
//  Slider
// =================================================

.slider {
  width: 100%;
  position: relative;
  background-color: @black;
}

.slide {
  background-color: #000;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 950px) {
      -webkit-box-shadow: inset 0 0 300px 100px rgba(10, 10, 10, 0.8);
      box-shadow: inset 0 0 300px 100px rgba(10, 10, 10, 0.8);
    }
  }

  &--no-content {
    // min-height: 400px;
  }
  &--no-content &__bg {
    background-position: center;
    box-shadow: none;
    height: 0;
    padding-bottom: 39%;
    position: relative;
  }

  &__cover-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.slide-content {
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  position: relative;
  z-index: 1;
  h1,
  p {
    color: @white;
  }

  h1 {
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 20px 0;
    max-width: 450px;
    .font-size(4.2);
  }
  p {
    max-width: 500px;
    margin: 0 0 30px 0;
    .font-size(1.8);
    font-weight: 400;
  }
  .btn {
    .font-size(1.4);
  }
  @media (max-width: 950px) {
    text-align: center;
    h1 {
      max-width: 100%;
      .font-size(3);
    }
    p {
      width: 100%;
      max-width: 100%;
      padding: 0 10%;
      .font-size(1.6);
      line-height: 1.6em;
      margin-bottom: 2%;
    }
  }
  @media (max-width: 680px) {
    .btn {
      margin-top: 4%;
      padding: 4%;
      .font-size(1.2);
    }
  }
}

.slider-cta {
  width: 600px;
  margin: 0 auto;
  background-color: @white;
  position: absolute;
  bottom: -45px;
  right: 0;
  left: 0;
  padding: 10px;
  .border-radius(2px);
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
  .clear-fix();
  .cta-icon,
  .cta-info,
  .cta-btn {
    float: left;
  }

  h4,
  h5 {
    color: @gray;
  }

  h4 {
    font-family: @heading;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    .font-size(2.4);
    line-height: 1em;
  }
  h5 {
    font-family: @heading;
    font-weight: 100;
    text-transform: normal;
    margin-top: 1%;
    margin-bottom: 0;
    padding: 0;
    .font-size(1.6);
  }
  .cta-icon {
    width: 10%;
    img {
      display: block;
      line-height: 0;
    }
  }
  .cta-info {
    width: 90%;
    padding-left: 2%;
    margin-top: 0.5%;
  }
  .cta-btn {
    float: right;
    color: @white;
  }
  @media (max-width: 680px) {
    position: static;
    width: 100;
    max-width: 100%;
    min-width: 1%;
    border: 0;
    border-radius: 0;
    h4 {
      .font-size(1.6);
    }
  }
  @media (max-width: 460px) {
    position: static;
    width: 100;
    max-width: 100%;
    min-width: 1%;
    border: 0;
    border-radius: 0;
    h5 {
      .font-size(1.2);
    }
    .cta-btn {
      .font-size(1.2);
    }
  }
}

.page-slider {
  position: relative;
  padding: 2%;
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
  .bx-wrapper img {
    margin-top: -16px;
  }

  img {
    padding: 0;
  }
  ul {
    li {
      list-style: none;
      &:before {
        display: none !important;
      }
    }
  }
}

// =================================================
//  Sections
// =================================================

.intro p {
  padding: 2% 15% 4% 15%;
  margin: 0;
  .font-size(2.4);
  @media (max-width: 768px) {
  }
  @media (max-width: 1100px) {
    padding: 2% 5% 4% 5%;
    .font-size(1.8);
  }
  @media (max-width: 568px) {
    padding: 2% 0 4% 0;
    .font-size(1.6);
  }
}

.intro p,
.dental-tech,
.exp,
.dental-services {
  line-height: 1.6em;
}

// =================================================
//  Dental Tech
// =================================================

.dental-tech,
.exp,
.dental-services {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h2 {
    .font-size(3.6);
    margin: 0;
  }
  h3 {
    color: @gray;
  }
  @media (max-width: 860px) {
    h2 {
      .font-size(2.8);
    }
  }
  @media (max-width: 680px) {
    h2 {
      .font-size(2.4);
    }
  }
}

.dental-tech {
  margin-top: 90px;
  margin-bottom: 40px;
  @media (max-width: 680px) {
    margin: 40px auto;
  }
}

.single-tech {
  width: 22%;
  background-color: @white;
  padding: 1%;
  text-align: center;
  .inline-block-fix();
  .font-size(1.6);
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');

  &:nth-child(2) {
    margin-left: 3.25%;
    margin-right: 1.75%;
  }
  &:nth-child(3) {
    margin-right: 3.25%;
    margin-left: 1.75%;
  }

  img {
    display: block;
  }
  h3 {
    .font-size(2.2);
    margin: 4% 0;
  }
  .btn {
    display: block;
    .font-size(1.6);
  }
  @media (max-width: 1100px) {
    h3 {
      .font-size(1.8);
    }
    p {
      .font-size(1.4);
      line-height: 1.5em;
    }
  }
  @media (max-width: 860px) {
    h3 {
      .font-size(1.4);
    }
    p {
      .font-size(1.2);
    }
  }
  @media (max-width: 680px) {
    width: 40%;

    &:nth-child(2) {
      margin-left: 5%;
      margin-right: 0;
      margin-bottom: 5%;
    }
    &:nth-child(3) {
      margin-left: 0;
      margin-right: 5%;
      margin-bottom: 5%;
    }
  }
  @media (max-width: 400px) {
    float: none;
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    img {
      width: 100%;
    }
    &:nth-child(2) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 5%;
    }
    &:nth-child(3) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 5%;
    }
  }
}

.single-tech-content {
  min-height: 410px;
  @media (max-width: 1100px) {
    min-height: 320px;
  }
  @media (max-width: 860px) {
    min-height: 280px;
  }
  @media (max-width: 660px) {
    min-height: 320px;
  }
}

// =================================================
//  Experience
// =================================================

.exp-wrap {
  background-color: @white;
}

.exp {
  margin: 40px auto;
  h3 {
    .font-size(2.2);
    padding: 0;
    margin: 0;
    color: @gray;
  }
  .featured,
  .desc {
    width: 50%;
    float: left;
    p {
      padding: 0;
      margin: 1.4% 0 2.4% 0;
      line-height: 1.6em;
    }
  }
  .featured {
    padding-right: 2%;
    img,
    .flexible-video {
      border: 10px solid @white;
      background-color: @white;
      .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
    }
  }
  .desc {
    padding-left: 2%;
    .font-size(1.4);
    text-align: left;
  }
  .btn {
    .font-size(1.4);
  }
  @media (max-width: 1100px) {
    h3 {
      .font-size(2);
    }
  }
  @media (max-width: 900px) {
    h3 {
      .font-size(1.4);
    }
  }
  @media (max-width: 680px) {
    h3 {
      .font-size(2);
    }

    p {
      .font-size(1.6);
      line-height: 1.6em;
      margin-bottom: 5%;
    }

    .featured {
      margin-bottom: 5%;
      img {
        width: 100%;
      }
    }
    .desc {
      text-align: center;
    }
    .featured,
    .desc {
      float: none;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.dental-services {
  margin: 40px auto;
  .service {
    width: 31%;
    float: left;
    .inline-block-fix();
    p {
      margin: 2% 8%;
      .font-size(1.6);
    }
    h3 {
      .font-size(2.4);
      margin: 8% 0 4% 0;
    }
    &:nth-child(2) {
      margin: 0 2%;
    }
  }

  @media (max-width: 860px) {
    .service {
      p {
        margin: 2% 0;
        .font-size(1.4);
      }
      h3 {
        .font-size(2);
      }
    }
  }

  @media (max-width: 680px) {
    .service {
      float: none;
      width: 100%;
      padding: 0 20%;
      p {
        margin: 2% 0;
        .font-size(1.4);
      }
      h3 {
        .font-size(2);
      }
      &:nth-child(2) {
        margin: 5% 0;
      }
    }
  }

  @media (max-width: 400px) {
    .service {
      float: none;
      width: 100%;
      padding: 0%;
    }
  }

  .service-wrap {
    margin-top: 40px;
  }
}

// =================================================
// HOME PAGE
// =================================================

.page-title {
  width: 100%;
  background: @green;
  padding: 1em 0;
  h1 {
    color: @white;
    .font-size(3.6);
    margin: 0;
    em {
      color: @white;
      .font-size(3.6);
    }
  }
  h2.position-title {
    color: darken(@green, 20%);
    margin: 0;
    font-size: 1.2em;
  }
  &.services-tech-intro {
    padding: 1em 0 2em 0;
    .intro {
      h1 {
        margin: 0 0 0.5em 0;
        .font-size(3);
      }
      p {
        padding: 0;
        color: @white;
        font-family: @heading;
        font-weight: 400;
        line-height: 1.8em;
        margin: 0 0 1.5em 0;
      }
    }
    .feature-image {
      width: 100%;
      float: none;
      margin: 0;
      max-width: 100%;
      top: 0;
    }
  }

  .has-intro {
    p,
    h2 {
      color: white;
    }
  }

  p {
    width: 70%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  @media screen and (min-width: 700px) {
    &.services-tech-intro {
      padding: 2em 0;
      .container {
        position: relative;
      }
      .intro {
        width: 63%;
        padding-right: 2em;
        float: left;
        p {
          .font-size(1.6);
        }
      }
      .feature-image {
        width: 37%;
        position: absolute;
        top: 50%;
        right: 0;
        .transform(translateY(-50%));
      }
    }
  }
  @media screen and (min-width: 1000px) {
    &.services-tech-intro {
      .feature-image {
        position: relative;
        top: auto;
        right: auto;
        .transform(translateY(0));
        float: right;
      }
    }
  }
}

.main-content-wrap {
  background: @white;
  padding: 2em 0;
  position: relative;
}

.main-content-full,
.main-content {
  .clear-fix();
  .slide-wrap {
    img {
      width: 100%;
    }
    ul {
      padding-left: 0;
    }
    li {
      text-indent: 0;
    }
    &:before {
      display: none;
      content: '';
      position: static;
    }
  }
  ul {
    padding-left: 4%;
    padding-left: 1.5em;
  }

  li {
    position: relative;
    list-style: disc;
    padding-right: 2em;
  }
}

.main-content-full {
  width: 100%;
}

.main-content {
  float: right;
  width: 75%;
  border-left: 2px dashed @l-gray;
  padding-left: 3%;
  .flip-layout & {
    float: left;
    border-left: 0;
    border-right: 2px dashed @l-gray;
    padding-left: 0;
    padding-right: 3%;
  }
  @media (max-width: 968px) {
    float: none;
    width: 100%;
    border: 0;
    padding: 0;
    .flip-layout & {
      padding-right: 0;
      border-right: 0;
    }
  }
}

.sidebar {
  width: 25%;
  padding-right: 3%;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    & > li {
      display: block;
      position: relative;
      border-top: 1px solid lighten(#c5c5c5, 15%);
      .clear-fix();
      &:nth-child(1) {
        border: none;
      }
      &:last-child {
        border-bottom: 1px solid lighten(#c5c5c5, 15%);
      }
      & > a:hover,
      &.current_page_item > a {
        background: @l-gray;
      }
      &.current_page_item ul,
      &.current_page_parent ul {
        display: block;
      }
      &.page_item_has_children a {
        padding-right: 30px;
      }
      ul {
        display: none;
        /*second level*/
        li {
          border: none;
          &:last-child {
            border-bottom: none;
          }
        }
        a {
          .font-size(1.2);
          position: relative;
          display: block;
          padding-left: 30px;
          &:before {
            content: '\00BB';
            position: absolute;
            left: 12px;
          }
        }
      }
    }
  }
  .sub-btn {
    color: gray;
    padding: 2.5%;
    position: absolute;
    right: 0;
    top: 0;
  }
  i {
    color: lighten(#c5c5c5, 15%);
    display: block;
  }
  a {
    width: 100%;
    padding: 5px 10px;
    color: @m-gray;
    display: block;
    .font-size(1.4);
    &.btn {
      color: @white;
    }
  }
  .tagcloud {
    a {
      display: inline-block;
      width: auto;
    }
  }
  h4,
  .parent {
    color: @gray;
    font-weight: 700;
    .font-size(1.3);
  }
  li.parent a {
    border: none !important;
    .font-size(2.4);
    &::after {
      display: none;
    }
  }
  p {
    margin: 0 0 1.5em 0;
    .font-size(1.1);
    color: @m-gray;
    & > a {
      padding: 0;
      .font-size(1.1);
    }
  }
  .btn {
    display: block;
    margin-bottom: 8%;
    .font-size(1.2);
    &:last-child {
      margin: 0;
    }
  }
  .sm-btn,
  .m-btn,
  .l-btn,
  .xl-btn {
    padding: 5% 6%;
  }
  .widget_archive label {
    display: none;
  }
  .widget_archive select {
    width: 100%;
  }
  @media (max-width: 968px) {
    float: none;
    position: static;
    width: 100%;
    padding-right: 0;
    margin-top: 5%;
    h4 {
      margin-bottom: 2%;
    }
    .list-pages {
      display: none;
    }
    .sm-btn,
    .m-btn,
    .l-btn,
    .xl-btn {
      padding: 3% 6%;
    }
  }
  .flip-layout & {
    float: right;
    padding-right: 0;
    @media screen and (min-width: 969px) {
      padding-left: 3%;
    }
  }
}

dl.hours {
  clear: both;
  position: relative;
  margin: 0 0 1.2em 0;
  .font-size(1.1);
  color: @m-gray;
  &::after {
    content: '';
    border-bottom: 2px dotted @l-gray;
    display: block;
    overflow: hidden;
    height: 1.15em;
  }
  dt,
  dd {
    background: #fff;
    position: relative;
  }
  dt {
    float: left;
    margin: 0 5px 0 0;
  }
  dd {
    float: right;
    margin: 0 0 0 5px;
  }
}

/* ==========================================================================
	WORDPRESS CLASSES
============================================================================= */
.alignright,
.alignleft,
.aligncenter {
  margin: 0 auto 1em;
  float: none;
}

@media screen and (min-width: 600px) {
  .alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  .alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  .aligncenter {
    margin: 0 auto 1em;
    display: block;
  }
}

.alignright,
.alignleft,
.aligncenter,
.alignnone {
  width: 100%;
  max-width: 100%;
  height: auto;
  @media screen and (min-width: 600px) {
    width: auto;
  }
}

.wp-caption {
  background: #eee;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 0.9em;
  padding: 10px 10px 0 10px;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

/* ==========================================================================
	SERVICES & TECH
============================================================================= */
.services-listing {
  .clear-fix();
  & > ul {
    margin: 0;
    padding: 0;
    & > li {
      list-style: none;
      display: block;
      margin-bottom: 3em;
      & > a {
        color: @m-gray;
        .font-size(1.7);
        text-transform: uppercase;
        font-family: @heading;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1.9em;
        margin-bottom: 1.2em;
        display: block;
        &:hover {
          color: @green;
        }
      }
      & > ul.children {
        padding: 0;
        margin: 0;
        & > li {
          list-style: none;
          margin: 0;
          display: block;
          & > a {
            font-family: @body;
            .font-size(1.4);
            color: @m-gray;
            display: block;
            &:hover {
              color: @green;
            }
          }
        }
      }
    }
    @media screen and (min-width: 700px) {
      & > li {
        width: 32%;
        float: left;
        margin: 0 0 2em 2%;
        &:nth-child(3n + 1) {
          clear: left;
          margin: 0 0 2em 0;
        }
      }
    }
  }
}

// =================================================
//  LOCATION & DIRECTIONS
// =================================================
.location-directions {
  .iframe-wrapper {
    iframe {
      padding: 5px;
    }
  }
  .exterior-shot {
    height: 0;
    padding-bottom: 63%;
    background: url(../images/gdc-exterior.jpg) no-repeat center center;
    background-size: cover;
    border: solid 5px #fff;
    .box-shadow(0 0 4px 2px rgba(10,10,10,0.1), inset 0 0 50px rgba(0,0,0,0.2));
    margin-bottom: 1.5em;
  }
  @media screen and (min-width: 728px) {
    .iframe-wrapper,
    .exterior-shot {
      margin: 1.5em 0;
      float: left;
      width: calc(~'50% - 10px');
    }
    .exterior-shot {
      float: right;
      padding-bottom: 58.4%;
    }
  }
}

// =================================================
//  full width template
// =================================================
.page-template-full-width-template,
.page-template-template-payment-form {
  .main-content-wrap {
    .container {
      max-width: 40em;
    }
  }
}

// =================================================
//  MEET OUR TEAM
// =================================================
.team-members {
  .team-member {
    width: 48%;
    float: left;
    margin: 0 0 2em 4%;
    &:nth-child(2n + 1) {
      clear: left;
      margin: 0 0 2em 0;
    }
    img {
      padding: 5px;
      background: #fff;
      .box-shadow(~'0 0 3px rgba(66,66,66,.2)');
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1em;
      .anim();
    }
    h4 {
      color: @green;
      font-size: 1em;
      text-align: center;
      padding: 0 5px;
      small {
        font-size: 1rem;
        font-weight: 400;
        color: #aaa;
        text-transform: none;
        font-style: italic;
        letter-spacing: 0.05em;
      }
    }
    a:hover {
      img {
        .box-shadow(~'0 0 3px rgba(66,66,66,.5)');
      }
      h4 {
        color: @d-green;
        small {
          color: darken(#aaa, 10%);
        }
      }
    }
    @media screen and (min-width: 600px) {
      width: 23.5%;
      margin: 0 0 2em 2%;
      &:nth-child(2n + 1) {
        clear: none;
        margin: 0 0 2em 2%;
      }
      &:nth-child(4n + 1) {
        clear: left;
        margin: 0 0 2em 0;
      }
    }
  }
}

// =================================================
//  CONTACT
// =================================================

.gform_wrapper {
  width: 100%;
  max-width: 100% !important;
  padding: 3%;
  background-color: @l-gray;
  margin-bottom: 2%;
  ul {
    li {
      text-indent: 0;
      &:before {
        display: none;
      }
    }
  }
  .clear-fix();
  .top_label .gfield_label {
    margin: 10px 0;
    font-family: @body;
    .font-size(1.5);
    line-height: 1.5em !important;
  }

  input[type='text'],
  textarea {
    background-color: @white;
    padding: 10px !important;
    display: block;
    outline: none;
    .transition(0 linear, all 0.3s ease);
    &:focus {
      background-color: @green;
      color: @white;
      .transition(0 linear, all 0.3s ease);
      .font-size(1.4);
    }
  }
  input[type='radio'],
  input[type='checkbox'] {
    margin-right: 1%;
    &:last-child {
      margin-left: 1%;
    }
  }
  input[type='submit'] {
    vertical-align: middle !important;
    cursor: pointer;
    text-align: center;
    .inline-block-fix();
    .border-radius(3px);
    .transition(all 0.5 ease);
    background-color: @green;
    color: @white;
    font-weight: 600;
    font-family: @heading;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.1);
    text-transform: uppercase;
    border: solid 1px transparent;
    padding: 2% 4%;
    .font-size(1.4);
    &:hover {
      color: @white;
      border: 1px solid @d-green;
      background-color: @d-green;
      .box-shadow(~'3px 3px 0px #5b7739');
    }
  }

  ul.gfield_checkbox {
    li {
      margin-right: 10px;
    }
  }
  input[type='radio'],
  input[type='checkbox'] {
    margin-left: 0.3em !important;
  }
  .inline-radio,
  .inline-checkbox {
    li {
      display:inline-flex;
      margin:auto .4em !important;
      input[type='radio'],
      input[type='checkbox'] {
        margin-top: 0.35em !important;
      }
      label {
        width: auto !important;
        padding-left:.5em !important;
      }
    }
  }
  div.ginput_container {
    margin-bottom: 1.5em;
  }

  div.gform_heading {
    display: none;
  }

  div.gform_wrapper div.validation_error {
    color: @brown !important;
  }
  .gfield_required {
    color: @green !important;
  }
  div.gform_wrapper li.gfield.gfield_error,
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: @green !important;
  }
  .gfield.column {
    width: 100%;
    .medium {
      width: 100%;
    }
  }
  select {
    margin-top: 10px;
  }
  .large,
  textarea.medium {
    width: 100% !important;
  }
  @media screen and (min-width: 600px) {
    .gfield.column {
      width: 48%;
      float: left;
      clear: none;
      margin: 0 0 0 2% !important;
      &:nth-child(2n + 1) {
        margin: 0 2% 0 0 !important;
      }
    }
  }
}
.mobile-block-list {
  li {

  }
}

// ==========================================================================
//	PAYMENT FORM
// ==========================================================================
form#payment-form {
  .input-group {
    width: 100%;
    margin-bottom: 1em;
    &.small {
      width: 48%;
      float: left;
      &:nth-of-type(2n + 2) {
        float: right;
      }
    }
  }
  input[type='text'],
  input[type='email'],
  select {
    width: 100%;
  }
  input[type='email'] {
    background-color: #fff;
    padding: 10px;
    display: block;
    outline: none;
    &:focus {
      background-color: #a6bb52;
      color: #fff;
      .font-size(1.4);
    }
  }
  select {
    margin-top: 0;
  }
  label {
    font-weight: 700;
    display: block;
    line-height: 1.3;
    clear: both;
    margin: 10px 0;
    .font-size(1.5);
    line-height: 1.5em;
  }
  .card-types {
    float: right;
  }
  i.fa {
    font-size: 1.7em;
  }
  @media screen and (min-width: 600px) {
    .input-group {
      width: 48%;
      float: left;
      &:nth-of-type(2n + 1) {
        clear: left;
      }
      &:nth-of-type(2n + 2) {
        float: right;
      }
      &.large {
        width: 100%;
        float: none;
        clear: both;
      }
    }
  }
}

// =================================================
//  REVIEWS
// =================================================

.testimonial {
  padding-left: 10%;
  position: relative;
  &:after {
    position: absolute;
    content: '“';
    .font-size(1.6);
    left: 0;
    top: -25%;
    font-family: arial;
    .font-size(21);
    color: rgba(10, 10, 10, 0.2);
  }
  @media (max-width: 768px) {
    padding-left: 0;
    &:after {
      display: none;
    }
  }
}

#review-widget-container {
  .rating-group {
    li.rating-item {
      &::before {
        display: none;
      }
    }
  }
}
#rate-a-biz-review-widget-wrapper .reviews-module .reviews-list {
  max-height: 600px !important;
}

.widget.reviews {
  a.review-link {
    width: 100%;
    display: block;
    margin: 0.2em 0 1.5em;
    position: relative;
    padding-left: 40px;
    .fa {
      background: @green;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 0;
      .transform(translateY(-50%));
      &::before {
        color: @white;
        .font-size(2);
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
      }
    }
    &:hover {
      .fa {
        background: @d-green;
      }
    }
  }
}

// =================================================
//  FAQS
// =================================================

.faq-title {
  margin-bottom: 4%;
}

.single-faq {
  margin-bottom: 2%;
  &:last-child {
    margin-bottom: 0;
  }
}

.acc-content {
  margin: 4%;
}

// =================================================
//  service cards
// =================================================

.main-content{
	.service-cards{
	
		&__list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	
		&__card{
			display: block;
		
			max-width: 48.5%;
			margin: 1.5% 0;
		
		    background-color: @white;
		    padding: 1%;
		    text-align: center;
		    .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
			
			transition: box-shadow .2s ease;
			
			&:hover{
				.box-shadow(~'0 0 4px 3px rgba(10,10,10,0.2)');
			}
			
			display: flex;
			align-items: stretch;
			
			flex: auto;
			
	
		}
		
		&__image-wrapper{
			&::before{
				content: "";
				display: block;
				padding-top: calc(100% * 155 / 176);
			}
			width: 100%;
			background-size: contain;
			background-position: center;
		}
		&__img{
			position: absolute !important;
		    height: 1px; width: 1px;
		    overflow: hidden;
		    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		    clip: rect(1px, 1px, 1px, 1px);
		}
	
		&__link{
			
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			align-items: stretch;
			width: 100%;
			
		}
		&__text{
			line-height: 1;
			margin: 1rem 0;
		}
		
		&__text--title{
			font-size: 1.4rem;
			display: block;
			color: @green;
			line-height: 1;
		}
		&__text--description{
			font-size: 1.3rem;
			display: block;
			color: @d-gray;
			text-transform: none;
			line-height: 1.45;
			font-weight: 200;
		}
		
		&__btn{
			display: block;
		}
		
		@media screen and (min-width: 500px) {
			&__text--title{
				font-size: 1.8rem;
			}
			&__text--description{
				font-size: 1.5rem;
			}
		}
		
		@media screen and (min-width: 768px) {
			&__card{
				max-width: 23%;
				margin: 0 0;
			}
			&__text--title{
				font-size: 1.4rem;
			}
			&__text--description{
				font-size: 1.3rem;
			}
		}
		@media screen and (min-width: 1200px) {
			&__text--title{
				font-size: 1.8rem;
			}
			&__text--description{
				font-size: 1.5rem;
			}
		}
	}
}




// =================================================
//  BLOG
// =================================================

form#searchform {
  position: relative;
  input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px 50px 10px 10px;
    .border-radius(2px);
    border: 2px solid @l-gray;
  }
  button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    border: 0;
    background: transparent;
    i::before {
      color: @green;
      font-size: 1.5em;
    }
  }
}
.entry {
  padding: 4% 0;
  border-bottom: 2px dashed @l-gray;
  margin-bottom: 0;
  .clear-fix();
  &:nth-child(1) {
    padding: 0 0 4% 0;
  }
  &:last-child {
    border-bottom: none;
    padding: 4% 0 0 0;
  }
  em {
    color: @green;
    margin-bottom: 2%;
    display: block;
  }
}

.entry-featured {
  img {
    height: auto;
    width: 100%;
    margin-bottom: 1em;
    border: 4px solid @white;
    .box-shadow(~'0 0 5px rgba(180,180,180, .5)');
  }
}

@media screen and (min-width: 600px) {
  .entry-featured {
    width: 25%;
    float: right;
    img {
      margin-left: 1em;
    }
  }
}
.entry-featured-image {
  float: right;
  margin: 0 0 8% 8%;
  height: auto;
  @media (max-width: 968px) {
    float: none;
    margin: 0 0 2% 0;
  }
}

/*single*/

.entry-banner {
  padding: 2%;
  .box-shadow(~'0 0 4px 2px rgba(10,10,10,0.1)');
  margin-bottom: 4%;
}

.entry-banner-featured {
  max-height: 300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    left: 0;
  }

  @media (max-width: 568px) {
    height: 200px;
  }
}

.pagination {
  text-align: left;
  list-style-type: none;
  text-align: center;
  margin: 1em 0;
  li {
    .inline-block-fix();
    &:before {
      display: none;
    }
  }
  li > a.page-numbers,
  li > span.page-numbers {
    color: @white;
    padding: 5px 12px;
    .border-radius(5px);
    text-align: center;
    display: block;
    color: @white;
  }
  li > a.page-numbers {
    background-color: @green;
  }
  span.current {
    background-color: @green;
  }
  li > span.page-numbers.dots {
    color: @gray;
  }
}

.related-posts {
  ul {
    margin: 1em 0;
    padding: 0;
    .clear-fix();
    li {
      display: inline-block;
      float: left;
      width: 48%;
      list-style: none;
      margin: 0 0 1em 2%;
      &:nth-child(2n + 1) {
        margin: 0 2% 1em 0;
        clear: left;
      }
      a {
        display: block;
        text-align: center;
        position: relative;
        background: lighten(@l-gray, 5%);

        img {
          display: block;
          padding: 10px;
          margin: auto;
          width: 100%;
        }
        span.no-image {
          width: 150px;
          height: 150px;
          display: block;
        }
        span.title {
          background: @l-gray;
          padding: 10px;
          display: block;
        }
      }
      @media screen and (min-width: 700px) {
        width: 23.5%;
        margin: 0 0 1em 2%;
        &:nth-child(2n + 1) {
          margin: 0 0 1em 2%;
          clear: none;
        }
        &:nth-child(4n + 1) {
          margin: 0 0 1em 0;
        }
      }
    }
  }
}
.post-navigation {
  margin: 1em 0;
  .clear-fix();
  a {
    &:extend(.btn);
    &:extend(.green-btn);
    display: block;
    padding: 10px 20px;
    &:hover {
      &:extend(.green-btn:hover);
    }
  }
}

// =================================================
//  Comments
// =================================================

.comment-list li {
  &:before {
    display: none;
  }
}

ul.children li.depth-2 {
  width: 100%;
  padding: 2% 0 2% 5%;
  border: 0;
}

.comment-list li.depth-3 {
  width: 100%;
  padding: 2% 0 2% 10%;
  border: 0;
}

.comment-list li.depth-4 {
  width: 100%;
  padding: 2% 0 2% 15%;
  border: 0;
}

.comment-list li.depth-5 {
  width: 100%;
  padding: 2% 0 2% 20%;
  border: 0;
}

.comment-list li.depth-6 {
  width: 100%;
  padding: 2% 0 2% 25%;
  border: 0;
}

.comment-list li.depth-7 {
  width: 100%;
  padding: 2% 0 2% 30%;
  border: 0;
}

.comment-list li.depth-8 {
  width: 100%;
  padding: 2% 0 2% 35%;
  border: 0;
}

.comment-list li.depth-9 {
  width: 100%;
  padding: 2% 0 2% 40%;
  border: 0;
}

.comment-list li.depth-10 {
  width: 100%;
  padding: 2% 0 2% 45%;
  border: 0;
}

.comment-list li.depth-11 {
  width: 100%;
  padding: 2% 0 2% 50%;
  border: 0;
}

.comment-list li.depth-12 {
  width: 100%;
  padding: 2% 0 2% 55%;
  border: 0;
}

.comment-list li.depth-13 {
  width: 100%;
  padding: 2% 0 2% 60%;
  border: 0;
}

.comment {
  width: 100%;
  padding-top: 2%;
  .clear-fix();
  margin-bottom: 2%;
}

.comment-single {
  .clear-fix();
}

.comment-body {
  clear: both;
  .clear-fix();
}

.comment-author {
  float: left;
  width: 15%;
  padding-right: 5%;
  img {
    width: 100%;
    padding: 2%;
    height: auto;
  }
}

.comment-content {
  float: left;
  width: 80%;
  cite,
  .says {
    font-weight: bold;
  }
  a {
    color: @green;
  }
}

.comment-meta .commentmetadata {
  display: block;
}

#respond {
  input[type='submit'] {
    .border-radius(2px);
    padding: 1% 4%;
    color: @white;
    cursor: pointer;
    background-color: @green;
    display: block;
    float: none;
    .box-shadow(0);
    .transition(0 linear, all 0.2s ease);
    &:hover {
      .transition(0 linear, all 0.2s ease);
      .translateY(-3px);
      .box-shadow(0px 4px 4px rgba(10,10,10,0.2));
      background-color: @d-green;
    }
  }

  input[type='text'],
  textarea {
    border: 1px solid @l-gray;
    width: 73%;
    padding: 1%;
    outline: none;
    float: none;
    color: @gray;
    .transition(0 linear, all 0.3s ease);
    &:focus {
      background-color: rgba(102, 102, 153, 0.4);
      .transition(0 linear, all 0.3s ease);
      .box-shadow(4px 4px 0 @gray);
      color: @white;
    }
  }
}

.comment-reply-link {
  color: @green;
  display: block;
  float: right;
}

// =================================================
//  FOOTER
// =================================================

.footer-wrap {
  background-color: @gray;
}

.main-footer {
  color: @white;
  margin: 40px auto;
  max-width: 1200px;
  font-weight: 200;
  .clear-fix();
  .font-size(1.2);
  a {
    color: @white;
    &:hover {
      color: @green;
    }
  }
  ul {
    width: 17%;
    .inline-block-fix();
    margin-bottom: 2%;
    margin-left: 2%;
  }
  li {
    margin-bottom: 6%;
    &:nth-child(1) {
      font-family: @heading;
      text-transform: uppercase;
    }
  }
  @media (max-width: 680px) {
    ul {
      width: 30%;
      margin-bottom: 5%;
    }
  }
  @media (max-width: 500px) {
    ul {
      width: 45%;
      margin-right: 2%;
    }
  }
}

.footer-info {
  width: 100%;
  background-color: @d-gray;
  padding: 20px 0;
  text-align: center;
  color: @white;
  @media (max-width: 680px) {
    .font-size(1.4);
    small {
      padding: 0 2%;
    }
  }
}
.footer-content {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 2%;
  p {
    margin-bottom: 0;
    text-align: center;
  }
  img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
  }
  @media screen and (min-width: 681px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p {
      text-align: left;
      max-width: 50rem;
    }
    img {
      margin: 0;
    }
  }
}

.btt-btn {
  position: fixed;
  .anim();
  right: 0em;
  padding: 10px;
  background: rgba(51, 51, 51, 0.3);
  z-index: 99;
  top: 80%;
  opacity: 0;
  .displaybtt & >  {
    opacity: 1;
    right: 0;
  }
  .menu-displayed & >  {
    opacity: 0;
    right: -2em;
  }
  i::before {
    font-size: 2em;
    line-height: 0.5em;
    color: @gray;
  }
}

// Community Involvement//

.community-involvement {
  h1 {
    font-family: @heading;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #444;
    font-size: 2rem;
  }
  h2 {
    margin-bottom: auto;
    margin-top: auto;
    text-transform: capitalize;
  }
  h3,
  h4 {
    line-height: initial;
  }

  .row {
    background-color: @l-gray;
    padding: 0.7em;
    img {
      margin-bottom: 0;
      width: 100%;
      max-width: 410px;
    }
    @media screen and (max-width: 800px) {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      p {
        float: none;
      }
      .alignleft,
      .alignright {
        float: none;
      }
    }
  }
}

.tour-wrapper {
  position: relative;
  padding-top: 75%;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

#RwReview {
  width:100%;
  position: relative;
  iframe {
    width:90%;
    overflow:hidden;
  }
}

@import 'banded_promo_page.less';
@import 'media.less';
