// ==========================================================================
//    RESPONSIVE VIDEO
// ==========================================================================
.flexible-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 1.5em;
  iframe,
  object,
  embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


// ==========================================================================
//  INVISALIGN PAGE IMAGE
// ==========================================================================
@media screen and (min-width: 1260px) {
  .wp-image-7260 {
    margin: 3.3rem;
  }  
}

